<!DOCTYPE html>
<!-- 2016-01-25, Created by Gavin
    AngularJS Service

    参考：
    http://viralpatel.net/blogs/angularjs-service-factory-tutorial/
-->

<html>
<head lang="en">
    <meta charset="utf-8">
    <!--为了让 Bootstrap 开发的网站对移动设备友好，确保适当的绘制和触屏缩放，需要在网页的 head 之中添加 viewport meta 标签-->
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

    <title> AngularJS Service</title>


    <!--调用外部CSS样式 -->
    <!--<link rel="stylesheet" type="text/css" href="./CSS/datepicker2.css"  />-->

</head>

    <body>
        <div ng-app="myApp">
            <div ng-controller="ContactController">
                <div class="container">
                    <!--保存联系人-->
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <form>
                                <label>Name</label>
                                <input type="text" name="name" ng-model="newcontact.name"/>

                                <label>Email</label>
                                <input type="text" name="email" ng-model="newcontact.email"/>

                                <label>Phone</label>
                                <input type="text" name="phone" ng-model="newcontact.phone"/>
                                <br/>

                                <input type="hidden" ng-model="newcontact.id"/>
                                <input type="button" value="Save" ng-click="saveContact()"/>
                            </form>
                        </div>
                    </div>

                    <!--联系人列表-->
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <table>
                                <thead>
                                <tr>
                                    <th class="col-md-3">Name</th>
                                    <th class="col-md-3">Email</th>
                                    <th class="col-md-3">Phone</th>
                                    <th class="col-md-3">Action</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="contact in contacts">
                                    <td class="col-md-3">{{contact.name}}</td>
                                    <td class="col-md-3">{{contact.email}}</td>
                                    <td class="col-md-3">{{contact.phone}}</td>
                                    <td class="col-md-3">
                                        <a href="#" ng-click="edit(contact.id)">edit</a>
                                        <a href="#" ng-click="delete(contact.id)">delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--百度CDN：AngularJS, jQuery, Bootstap
        http://cdn.code.baidu.com/
        -->
        <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
        <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!--调用本地脚本-->
        <script src="js/myservice2.js"></script>

    </body>

</html>