<!DOCTYPE html>
<!-- 2016-01-25, Created by Gavin
    AngularJS Service

    参考：
    https://docs.angularjs.org/guide/forms
-->

<html>
<head lang="en">
    <meta charset="utf-8">
    <!--为了让 Bootstrap 开发的网站对移动设备友好，确保适当的绘制和触屏缩放，需要在网页的 head 之中添加 viewport meta 标签-->
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">

    <title> AngularJS Service</title>


    <!--调用外部CSS样式 -->
    <link rel="stylesheet" type="text/css" href="CSS/myforms.css"  />

</head>

    <body>
        <div ng-app="myApp">
            <div ng-controller="UserController">
                <div class="container">
                    <div class="row">
                            <h2>Angular Form</h2>
                            <form name="form" class="css-form" novalidate>
                                <!--姓名-->
                                Name: <input type="text" ng-model="user.name" ng-model-options="{debounce: 500}" name="uName" required=""/>
                                <br/>
                                <div ng-show="form.$submitted || form.uName.$touched">
                                    <div ng-show="form.uName.$error.required">请输入你的姓名</div>
                                </div>
                                <p><span></span></p>

                                <!--Emails-->
                                Email: <input type="email" ng-model="user.email" ng-model-options="{updateOn: 'blur'}" name="uEmail" required=""/><br/>
                                <div ng-show="form.$submitted || form.uEmail.$touched">
                                    <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                                    <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
                                </div>
                                <p><span></span></p>

                                <!--性别-->
                                Gender:
                                <input type="radio" ng-model="user.gender" value="male"/>male
                                <input type="radio" ng-model="user.gender" value="female"/>female<br/>
                                <p><span></span></p>

                                <!--同意条款-->
                                <input type="checkbox" ng-model="user.agree" name="userAgree" required=""/>

                                I agree:
                                <input ng-show="user.agree" type="text" ng-model="user.agreeSign" required=""/>
                                <br />
                                <div ng-show="form.$submitted || form.userAgree.$touched">
                                    <div ng-show="!user.agree || !user.agreeSign">Please agree and sign.</div>
                                </div>

                                <!--重置及保存按钮-->
                                <input type="button" ng-click="reset(form)" value="Reset"/>
                                <input type="submit" ng-click="update(user)" value="Save"/>
                            </form>

                        <hr/>
                        <pre> user={{user | json }}</pre>
                        <pre> master={{master | json}}</pre>

                    </div>

                </div>
            </div>
        </div>

        <!--百度CDN：AngularJS, jQuery, Bootstap
        http://cdn.code.baidu.com/
        -->
        <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
        <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!--调用本地脚本-->
        <script src="js/myform.js"></script>

    </body>

</html>