div.container {
    border: 1px solid darkred;
    margin-top: 50px;
    margin-left: 100px;
}

p.margin {
    margin-left: 20px;
}

p.one, .two {
    border: 1px solid rebeccapurple;
    background-color: yellowgreen;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}